p { 
	color: #ffffff;
}
.class1 { 
	background-color: #0c80ff;
}
.cHello { 
	padding: 53px 0px 27px 27px;
}
.class2 { 
	background-color: #6ab0ff;
	padding: 25px 0px 236px 25px;
}
.chello2 {
	padding: 45px 0px 250px 45px;
}
 .textColor{
	 color: #fddfb5;
	 font-family: sans-serif;
 }